/* ✅ Required Tailwind directives */
@import "tailwindcss";

/* ✅ Custom variables */
:root {
  --font-roboto: "Roboto", sans-serif;
  --font-bitcount: "Bitcount Prop Single Ink", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-fira-sans: "Fira Sans", sans-serif;
  
}

/* Custom animations */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}

/* Base global rules */
html,
body {
  overflow-x: hidden !important;
}
@keyframes floating-slow {
  0% { transform: translateY(-12px); }
  50% { transform: translateY(12px); }
  100% { transform: translateY(-12px); }
}

.animate-floating-slow {
  animation: floating-slow 10s ease-in-out infinite;
}
